NEXT_PUBLIC_API_MOCKING=no
NEXTAUTH_URL=http://localhost:3000
# Used to encrypt the NextAuth.js JWT, and to hash email verification tokens. This is the default value for the secret option in NextAuth and Middleware.
# openssl rand -base64 32
NEXTAUTH_SECRET=uDnS3UmJzgYSUjRjzr1CHQuLUNSTPegfDH3AMlpWdLg=

POSTGRES_USER=yangtze
POSTGRES_PASSWORD=yangtze
POSTGRES_DB=yangtze
POSTGRES_PORT=5432
DATABASE_URL=file:sqlite.db
# DATABASE_URL=postgresql://
SHADOW_DATABASE_URL=postgresql://

REDIS_URL=

# Clerk authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in

######## [BEGIN] SENSITIVE DATA ######## For security reason, don't update the following variables (secret key) directly in this file.
######## Please create a new file named `.env.local`, all environment files ending with `.local` won't be tracked by Git.
######## After creating the file, you can add the following variables.
CLERK_SECRET_KEY=sk_

# Github NextAuth Credentials
GITHUB_ID=
GITHUB_SECRET=

# Google NextAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

AUTH0_ID=
AUTH0_SECRET=
AUTH0_ISSUER=

FACEBOOK_ID=
FACEBOOK_SECRET=

TWITTER_ID=
TWITTER_SECRET=

EMAIL_SERVER=
EMAIL_FROM=

UPLOADTHING_SECRET=sk_
UPLOADTHING_APP_ID=

# https://betterstack.com/logs
LOGTAIL_SOURCE_TOKEN=re_

ANALYZE=true